<header class="app-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <mat-icon>menu</mat-icon>
        <span><a>Node</a></span>
      </div>
      <div>
        <input class="form-input" type="search" placeholder="Search">
      </div>
      <div class="user-details">
        <mat-icon>compare_arrows</mat-icon>
        <mat-icon>dashboard</mat-icon>
        <mat-icon>add_alert</mat-icon>
        <div class="user-image">
          <img height="38px" width="38px" src="assets/profile.png" alt="Profile">
        </div>
      </div>
    </div>
  </nav>
</header>